{
  "sourceMaps": "inline",
  "plugins": [
    "transform-flow-strip-types",
    "transform-function-bind",
    "transform-react-jsx"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "production": {
      "presets": ["es2015"],
      "plugins": [
        "transform-class-properties",
        "transform-runtime"
      ]
    }
  }
}
