:root {
  --header-height: 44px;
  --header-text-size: 1.5rem;
  --side-margin: 84px;
  --episode-count: 3;
  --episode-width: ((100vw - 2 * var(--side-margin)) / var(--episode-count));
  --episode-aspect: 1.4;
}
