- @magazines.each do |magazine|
  .magazineLayout
    %h1.magazineLayout_title= link_to magazine.title, magazine_path(magazine)
    .magazineLayout_content
      .magazineEpisodeLayout
        .magazineEpisodeLayout_prev.navButton
          .navButton_label
            &lt;
        .magazineEpisodeLayout_next.navButton
          .navButton_label
            &gt;
        .magazineEpisodeLayout_contents
          - if magazine.cover.present?
            .magazineEpisodeLayout_content
              %img{ src: page_url(magazine.cover) }
          - magazine.episodes.includes(:page).each do |episode|
            .magazineEpisodeLayout_content
              %a{ href: episode_path(episode) }
                %img{ src: page_url(episode.page) }
