%p
  %a{ href: magazines_path } ⏫
%h1= @magazine.title

%div
  = button_to '↪️', magazines_import_path(@magazine), method: :put
  = button_to '❌', magazine_path(@magazine), method: :delete

%ul
  - @magazine.episodes.each do |episode|
    %li= link_to episode.title, episode_path(episode)
