.magazineInfo
  %h1.magazineInfo_title
    = @magazine.title

.episodesLayout
  - @magazine.episodes.each do |episode|
    .episodesLayout_episode
      %a{ href: episode_path(episode) }
        %img{ src: page_url(episode.page) }

%div
  = button_to '↪️', magazines_import_path(@magazine), method: :put
  = button_to '❌', magazine_path(@magazine), method: :delete
