%p
  %a{ href: magazines_path } ⏫
%h1= @magazine.title

%div
  = button_to '↪️', magazines_import_path(@magazine), method: :put
  = button_to '❌', magazine_path(@magazine), method: :delete
- @magazine.pages.each do |page|
  %div
    %img{ src: page.url }
