* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'Noto Sans Japanese', -apple-system, 'BlinkMacSystemFont', sans-serif;
  font-size: 14px;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

p {
  min-height: 1rem;
  line-height: 1.5rem;
}

img[data-ready="false"] {
  background-color: rgba(0, 0, 0, 0.2);
  animation: blink 2s ease-in-out infinite;
}
