* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'Noto Sans Japanese', -apple-system, 'BlinkMacSystemFont', sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
}

p {
  min-height: 1rem;
  line-height: 1.5rem;
}
