.info
  %h1.info_main= @author

.episodesLayout
  - @episodes.each do |episode|
    .episodesLayout_episode
      %a{ href: "/episodes/#{episode.id}" }
        %img{ src: page_url(episode.page, thumbnail: true) }

