.dropzone {
  @apply --clickable;

  opacity: 0.8;
  width: 100%;
  height: 200px;
  border: black 2px dashed;
  border-radius: 5px;
  font-size: 3rem;
  text-align: center;
  padding-top: calc(100px - 1rem);
  margin-bottom: 10px;
}
