.header {
  height: 100%;
  position: relative;

  &_title {
    height: 100%;
    font-size: inherit;

    & a {
      color: inherit;
    }
  }

  &_action {
    position: absolute;
    right: 10px;
    bottom: 3px;

    & > div {
      display: inline-block;
    }
  }
}
