.magazineDashboard {
  border-collapse: collapse;
  width: 100%;

  & td {
    border: 1px solid black;
    padding: 20px;
  }

  &_title {
    font-size: 1.2rem;
  }

  &_status {
    font-size: 2rem;
    text-align: center;
    width: 1rem;
  }

  &_action {
    & form {
      display: inline-block;
      margin-right: 10px;
    }

    & input {
      padding: 2px;
      background-color: rgba(0,0,0,0);

      @apply --clickable;
      font-size: 2rem;
    }
  }
}
