.magazineAction {
  font-size: 2rem;
  margin-bottom: 20px;

  & form {
    display: inline-block;
  }

  & input {
    @apply --clickable;

    padding: 2px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 2rem;
  }
}
