.episodeLayout {
    height: calc(var(--episode-aspect) * var(--episode-width));
    position: relative;

    &_title {
      font-size: 1.8rem;
      right: 10px;
      top: 50px;
      position: absolute;
      z-index: 100;
    }

    &_author {
      font-size: 1.5rem;
      right: 10px;
      top: 80px;
      position: absolute;
      z-index: 100;
    }

    &_action {
      font-size: 1.5rem;
      right: 10px;
      top: 150px;
      position: absolute;
      z-index: 100;
    }



    &_pages {
      height: 100%;
    }
}
