.magazineEpisodeLayout {
  position: relative;
  margin-left: calc(-1 * var(--episode-width));
  margin-right: calc(-1 * var(--episode-width));

  &_prev, &_next {
    position: absolute;
    top: 0;
    width: var(--side-margin);
    bottom: 0;
    z-index: 100;
  }

  &_prev {
    right: calc(var(--episode-width)*4);
  }

  &_next {
    left: calc(var(--episode-width)*4);
  }

  &_contents {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  &_content {
    flex-basis: calc(var(--episode-width));
    flex-shrink: 0;
    flex-grow: 0;
    min-height: calc(var(--episode-aspect) * var(--episode-width));

    & img {
      max-width: 100%;
    }
  }
}
