.mainLayout {
  &_headerArea {
    background-color: var(--key-color);
    color: white;
    height: var(--header-height);
    padding: calc((44px - 1.5rem) / 2) var(--side-margin);
    font-size: var(--header-text-size);
  }

  &_bodyArea {
    padding: 30px var(--side-margin);
    position: relative;
  }
}
