:root {
  --page-height: calc(100vh - 56px);
}

.pagesLayout {
  @apply --scroll-x;

  display: flex;
  width: 100vw;
  height: var(--page-height);
  scroll-snap-type: mandatory;
  scroll-snap-destination: 100% 0%;

  &_page {
    @apply --flex-fit;

    scroll-snap-coordinate: 100% 0%;
    height: var(--page-height);
    width: calc(var(--page-height) / var(--episode-aspect));

    & img {
      height: 100%;
    }
  }

  &-noScroll {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
