.pagesLayout {
  @apply --scroll-x;

  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 100vh;

  &_page {
    @apply --flex-fit;

    height: 100vh;
    width: calc(100vh / var(--episode-aspect));

    & img {
      height: 100%;
    }
  }

  &-noScroll {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
