.pagesLayout {
  display: flex;
  @apply --scroll-x;

  width: 100vw;
  height: 100vh;
  flex-direction: row-reverse;

  &_page {
    height: 100vh;
    width: calc(100vh / var(--episode-aspect));

    & img {
      height: 100%;
    }
  }
}
