.panelLayout {
  display: flex;

  &_panel {
    flex-basis: calc(var(--episode-width));
    flex-shrink: 0;
    flex-grow: 0;
    min-height: calc(var(--episode-aspect) * var(--episode-width));
  }
}
