:root {
  --search-width: 300px;
}

.searchLayout {
  margin-right: 5px;

  &_query {
    font-size: 1.2rem;
    padding: 2px;
  }

  &_results {
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: calc(1.2rem + 8px);
    z-index: 100;
    background: white;
    width: var(--search-width);
    height: 200px;
    overflow-y: scroll;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  }

  &_result {
    height: 80px;
    width: var(--search-width);
  }
}
