.tileLayout {
  display: flex;
  flex-wrap: wrap;

  &_tile {
    margin-top: 10px;
    flex-basis: calc(var(--episode-width));
    flex-shrink: 0;
    flex-grow: 0;

    & img {
      max-width: 100%
    }
  }
}
