.tileLayout {
  display: flex;
  flex-wrap: wrap;

  &_tile {
    margin-top: 10px;
    flex-basis: var(--item-width);
    flex-shrink: 0;
    flex-grow: 0;
    height: var(--item-height);

    & img {
      width: 100%;
    }
  }
}
