!!!
%html
  %head
    %title fumi*fumi
    = csrf_meta_tags
    - if Rails.env.production?
      %link{ rel: 'stylesheet', media: 'all', href: '/bundle.min.css' }
      %script{ src: '/bundle.min.js' }
    - else
      %link{ rel: 'stylesheet', media: 'all', href: '/bundle.css' }
      %script{ src: '/bundle.js' }
  %body
    .mainLayout
      .mainLayout_headerArea
        %h1 fumi*fumi
      .mainLayout_bodyArea
        = yield
