!!!
%html
  %head
    %title fumi*fumi
    = csrf_meta_tags
    - if Rails.env.production?
      %link{ rel: 'stylesheet', media: 'all', href: '/bundle.min.css' }
      %script{ src: '/bundle.min.js' }
    - else
      %link{ rel: 'stylesheet', media: 'all', href: "/bundle.css?#{Time.current.to_i}" }
      %script{ src: "/bundle.js?#{Time.current.to_i}" }
  %body
    .mainLayout
      .mainLayout_headerArea
        %header.header
          %h1.header_title
            %a{ href: '/' } fumi*fumi
      .mainLayout_bodyArea
        = yield
