!!!
%html
  %head
    %title fumi*fumi
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' }
    = csrf_meta_tags
    - if Rails.env.production?
      %link{ rel: 'stylesheet', media: 'all', href: '/bundle.min.css' }
      %script{ src: '/bundle.min.js' }
    - else
      %link{ rel: 'stylesheet', media: 'all', href: "/bundle.css?#{Time.current.to_i}" }
      %script{ src: "/bundle.js?#{Time.current.to_i}" }
  %body
    = yield
